# dependencies (bun install)
node_modules
**/node_modules

# output
out
dist
*.tgz
**/out/
**/build

# code coverage
coverage
**/coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
**/*.log

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env*

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# package managers
/.pnp
.pnp.js
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next.js
**/.next/

# misc
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# archives and traces
**/*.trace
**/*.zip
**/*.tar.gz
**/*.tgz
package-lock.json
**/*.bun

# typescript
next-env.d.ts
